
html {
    font-size: 16px;   
}

* {
    box-sizing: border-box;
}

a, 
a:hover {
    color: inherit;
}

img, video {
    max-width: 100%;
}

img {
    height: auto;
}

body {
    background-color: white;
    color: $white;
    margin: 0;
    padding: 0 0;    
    font: 100%/1.3 $type_sans, sans-serif;
    font-stretch: normal;
    max-width: 100%;
    background-color: $black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $type_sans_medium;
    font-weight: normal;
}

//helpers
.hide {
    position: fixed; 
    overflow: hidden;
    clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
    opacity: 0; 
}

.show {  
    position: relative;
    clip-path: none;
    opacity: 1;
    transition: opacity .4s ease-in;    
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.5;
    &.no-space {
        position: absolute; 
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.3s;
    animation-timing-function: cubic-bezier(0,0,.4,1);
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//layout
.container {
    margin-left: 100px;
    padding: 5em 0 0 0;
}

@media (max-width: 545px) {
    .container {
        margin-left: 80px;
        padding: 5em 0 0 0;
    }  
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------
2.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


.page-header {
    position: absolute;
    top: 2.6em;  
    left: 200px;
    h1 {
        font-size: 16px;
        line-height: 1.2;
        color: #999; 
    }
}

@media (max-width: 992px) {
    .page-header {
        top: 2.5em;
        left: 94px;
    }
}

/* IE11 */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
    .container {
        figure {
            width: 400px;
            float: left;
        }
    }
    @media (max-width: 1024) {
        .container {
        figure {
            width: 300px;
            float: left;
        }
    } 
    }
}