
html {
    font-size: 16px;   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, 
a:hover {
    color: inherit;
    text-decoration: none;
}

img, video {
    max-width: 100%;
    border: none;
}

img {
    height: auto;
}

body {
    margin: 0;
    padding: 0 0;    
    font: 100%/1.3 $type_sans, sans-serif;
    font-stretch: normal;
    max-width: 100%;
    background-color: $white;
    color: $black;
}

p {
    font-size: 15px;
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $type_sans;
    font-weight: normal;
}

//helpers
.hide {
    position: fixed; 
    overflow: hidden;
    clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
    opacity: 0; 
}

.show {  
    position: relative;
    clip-path: none;
    opacity: 1;
    transition: opacity .4s ease-in;    
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.5;
    &.no-space {
        position: absolute; 
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.3s;
    animation-timing-function: cubic-bezier(0,0,.4,1);
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//layout
.container {
    margin: 0 auto;
    padding: 4.7em 0 0 0;
}

@media (max-width: 1360px) {
    .container {
        margin-left: 75px;
    }  
}

@media (max-width: 768px) {
    .container {
        padding: 3em 0 0 0;
    }  
}

@media (max-width: 545px) {
    .container {
        margin-left: 55px;
    }  
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    figcaption {
        font-size: 13px;
    }
}

 /** add display none to the images with the lazyload class */
.no-js img.lazyload {
	display: none;
}

/* Loader 2 */
.loader-2 {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	height: 26px;
	width: 26px;
	-webkit-animation: loader-2-1 3s linear infinite;
	        animation: loader-2-1 3s linear infinite;
}
@-webkit-keyframes loader-2-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-2 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 26px;
	width: 26px;
	clip: rect(16px, 32px, 32px, 0);
	-webkit-animation: loader-2-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-2-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-2-2 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-2 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-2 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 26px;
	width: 26px;
	border: 3px solid transparent;
	border-top: 3px solid #333;
	border-radius: 50%;
	-webkit-animation: loader-2-3 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-2-3 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-2-3 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-3 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-2 span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 26px;
	width: 26px;
	border: 3px solid rgba(39, 39, 39, 0.5);
	border-radius: 50%;
}

/*--------------------------------------------------------------
2.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


.page-header {
    position: relative;
    margin-top: -21px;
    margin-left: 60px;
    h1 {
        font-size: 11px;
        line-height: 18px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {
    .page-header {
    position: relative;
    margin-top: 78px;
    margin-left: 75px;
    }
}

// @media (max-width: 768px) {
//     .page-header {
//         margin-left: 75px;
//     }
// }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
    .page-header {
        margin-top: -21px;
    }
}

// @media (max-width: 992px) {
//     .page-header {
//         top: 22px;
//         left: 60px;
//     }
// }

/* IE11 */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
    .container {
        figure {
            width: 530px;
            float: left;
        }
    }
    // @media (max-width: 1024) {
    //     .container {
    //         figure {
    //             width: 300px;
    //             float: left;
    //         }
    //     } 
    // }
}

.site-header {
    overflow: hidden;
}

.logo {
    position: relative;
    margin-top: 23px;
    margin-right: 30px;
    float: right;
    z-index: 2;
}

@media (max-width: 768px) {
    .logo {
        position: absolute;
        left: 75px;
    }
}