

.home-grid {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-gap: 60px 60px;
    justify-items: left;  
    padding: 0 45px 45px 45px;
    .entry-title {
        text-decoration: none;
        font-size: 11px;
        color: $black; 
        text-transform: uppercase;
    }
}

.grid-item {
    margin: 0 auto;
    overflow: hidden;
    header {
        margin-top: 5px;
    }
    h2 {
        margin-bottom: 0;
    }
    img {
        max-width: 100%;
        vertical-align: top; /* solves img behaving like text character and adding 3px bottom space for letter hanging part */
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }
}

figure.zoom {
    margin: 0;
    padding: 0;
    display: block;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
}

@media (max-width: 1400px) {
    .home-grid {
        padding: 0 45px 45px 45px;
    }    
}

@media (max-width: 1360px) {
    .home-grid {
        padding: 0 45px 45px 0px;
        grid-gap: 30px 45px;
    }    
}

@media (max-width: 1300px) {
    .home-grid {
        grid-gap: 30px 30px;
    }    
}

@media (max-width: 1260px) {
    .home-grid {
        grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    }    
}

@media (max-width: 1060px) {
    .home-grid {
        max-width: 1060px;
        grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    }
}

@media (max-width: 960px) {
    .home-grid {
        grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    }
}

@media (max-width: 860px) {
    .home-grid {
        grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
        grid-gap: 30px 60px;
    }
}

@media (max-width: 730px) {
    .home-grid {
        grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
        padding: 0 30px 0 0;
    }
}

@media (max-width: 578px) {
    .home-grid {
    .grid-item {  
    margin: 0;  
    }
}
}

@media (max-width: 465px) {
    .home-grid {
        grid-gap: 30px 30px;
        padding-right: 0;
    }
}

@media (max-width: 360px) {

    .grid-item {
    margin-left: 0;
    }
}

//grid item hover

.grid-item img {
    -webkit-transition: all 0.4s ease; /* Safari and Chrome */
    -moz-transition: all 0.4s ease; /* Firefox */
    -ms-transition: all 0.4s ease; /* IE 9 */
    -o-transition: all 0.4s ease; /* Opera */
    transition: all 0.4s ease;
}

.grid-item:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}



/* IE11 - supports grid & flex*/
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 

    .home-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .home-grid article {
        width: 255px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    /*use separate stylesheets for IE9 and below*/

}

/*no grid and flex support - e.g. windows XP & Chrome 49*/
@supports not (display: grid) {

    .home-grid {
        position: relative;
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 45px 45px 45px;
        .entry-title {
            text-decoration: none;
            font-size: 11px;
            color: $black; 
            text-transform: uppercase;
        }
    } 

    .grid-item {
        float: left;  
        width: 25%;
        height: 275px;
        margin-bottom: 60px; 
        overflow: hidden; 
        a, figure {
            width: 255px;
        }
        header {
            margin-top: 5px;
        }
        h2 {
            margin-bottom: 0;
        }
        img {
            max-width: 100%;
            vertical-align: top; /* solves img behaving like text character and adding 3px bottom space for letter hanging part */
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
        }
    }

    figure.zoom {
        margin: 0;
        padding: 0;
        display: block;
        background-position: 50% 50%;
        position: relative;
        overflow: hidden;
    }

     @media (max-width: 1280px) {
        .grid-item { 
            height: 250px;
            margin-bottom: 40px;
            a, figure {
                width: 215px;
            }
        }
    }
 
}