.home-grid {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-gap: 30px 60px;
    justify-items: left;  
    padding: 4.6em 45px 45px 45px;
    .entry-title a {
        text-decoration: none;
        font-size: 11px;
        color: $black; 
        text-transform: uppercase;
    }
}

.grid-item {
    margin: 0 auto;
    h3 {
        margin-bottom: 0;
    }
    img {
        max-width: 100%;
    }
}

@media (max-width: 1400px) {
    .home-grid {
        padding: 7.4em 45px 45px 75px;
    }    
}

@media (max-width: 1340px) {
    .home-grid {
        grid-gap: 30px 45px;
    }    
}

@media (max-width: 1300px) {
    .home-grid {
        grid-gap: 30px 30px;
    }    
}

@media (max-width: 1260px) {
    .home-grid {
        grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    }    
}

@media (max-width: 1060px) {
    .home-grid {
        max-width: 1060px;
        grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    }
}

@media (max-width: 960px) {
    .home-grid {
        grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    }
}

@media (max-width: 860px) {
    .home-grid {
        grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
        grid-gap: 30px 60px;
    }
}

@media (max-width: 730px) {
    .home-grid {
        grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    }
}

@media (max-width: 620px) {
    .home-grid {
        grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
        grid-gap: 30px 30px;
    }
}

@media (max-width: 465px) {
    .home-grid {
        grid-gap: 30px 30px;
        padding-left: 30px;
        padding-right: 0;
    }
}