.home-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
    justify-items: left;  
    padding: 6em 100px 0 100px;
    .entry-title a {
        text-decoration: none;
        font-size: 13px;
        color: #cacaca; 
    }
    // .grid-sizer,
    // .grid-item { width: 20%; }
    // .gutter-sizer { width: 10%; }
}

.js .grid-item {
    margin-bottom: 100px;
}

@media (max-width: 1336px) {
    .home-grid {
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media (max-width: 1052px) {
    .home-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 6em 30px 0 30px;
        .grid-item {
            img {
               // max-width: 75%;
            }
        }
    }
}

@media (max-width: 730px) {
    .home-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: left;
    }
}

@media (min-width: 331px) and (max-width: 465px) {
    .home-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 6em 15px 0 15px;
        .grid-item {
            // width: auto!important;
            //max-width: 85%;
        }
    }
}

@media (max-width: 330px) { 
    .home-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 6em 15px 0 15px;
        .grid-item {
            //width: auto!important;
            //max-width: 85%;
            //height: auto!important;
        }
    }
 }